<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Dob</th>
        </tr>
        </thead>
        <tbody>
        {% for i in students %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.email}}</td>
            <td>{{i.dob}}</td>
        </tr>
        {% endfor %}
        </tbody>
</body>
</html>